<div class="container text-center">
  <h2>
    KaiCloud34813
  </h2>
  <h3>
    le meilleur service de stockage
  </h3>
  <div class="col-md-8 col-md-offset-2">
    <div class="red-border">
      &nbsp;
    </div>
    <p class="ct-u-size22 ct-u-fontWeight300 marginTop40">
      KaiCloud34813 est une entreprise basée à Rabat qui procure à ses utilisateurs des fonctionnalités de stockage à bas prix. Grâce à votre compte KaiCloud34813,  vous pouvez sauvegarder de nombreux documents d'une manière facile et efficace.
      <br/><br/>Pour avoir une meilleure expérience, nous vous offrant 1Go d'espace de stockage GRATUITEMENT. Bien entendu, l'espace de stockage alloué peut être augmenté avec un abonnement payant.
    </p><!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
    <br/><br/><br/> <h4>Pour plus d'informations veuillez contacter:</h4>
    <h5>Anass ABOUNOUH: +212600850204</h5>
    <h5>Wahiba ZAHNOUN: +212689510412</h5>
  </div>
</div>
